<!DOCTYPE html>
<html> 

<head>
<title>Bellator | Sapien | Agricola </title>
<meta charset="utf-8">
</head>

<style>
h1 {
color: Blue; font-size: 100px; text-align: center
}
h2 {
text-align: center; font-size: 50px
}
</style>

<h1>
<strong>BSA LLC</strong>
<h1>

<div>
<img src="../img/bsa_logo.png" class="img-responsive" alt="BSA Logo">
</div>

<h2>
BSA's mission is to fathom America's victories, shortcomings, and forging a better American society through research, field work, and the medium of media and communication
</h2>

</html>
